# Base de datos PostgreSQL en Neon
DATABASE_URL=postgresql://neondb_owner:npg_Eb6W7ieJPqNx@ep-soft-star-ancagcs7-pooler.c-6.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Seguridad JWT
SECRET_KEY=f24d2ac0c43acec31cefbfc11ba7ea900879f727c8201745cfdd3c6fc40a0f46
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=480

# Usuario administrador inicial (se crea con el seed)
ADMIN_EMAIL=doctor@ejemplo.com
ADMIN_PASSWORD=cambia-esta-contrasena

# Entorno
ENVIRONMENT=development
